<% if @available_leagues.empty? %>
  <h1 align = "center">Niestety nie znaleziono żadnej ligi :(</h1>
  <div align = "center">
    <%= link_to 'Powrót do strony głównej', root_path %>
  </div>
<% else %>
  <% @available_leagues.each do |league| %>
    <div align = "center" class="league-list">
      <%= league.name %>(<%= league.country_name%>)
      <%= form_tag(controller: "available_leagues", action: "add_available_league_to_leagues", id: league.id) do %>
        <%= submit_tag "Dodaj"%>
      <% end %>
    </div>
  <% end %>
<% end %>

<h1 align = "center">Nie znalazłeś swojej ligi? Wyszukaj jeszcze raz:</h1>
<div align = "center">
  <%= search_form_for @q do |f| %>
    <%= f.label :nazwa_ligi %>
    <%= f.search_field :name_cont %>

    <%= f.label :kraj_ligi %>
    <%= f.search_field :country_name_cont %>

    <%= f.submit "Wyszukaj" %>
  <% end %>
</div>
