<h1 align = "center">Twoje ligi:</h1>
<% if current_user.leagues.count == 0 %>
  <div align="center">
    Wygląda na to, że nie dodałeś jeszcze żadnej ligi do ulubionych :(
  </div>
<% else %>
  <% current_user.leagues.each do |league| %>
    <div class = "liga">
      <h1 align = "center"><%= league.name %>(<%= league.country %>)</h1>
      <table align = "center" class = "sortable">
          <tr>
            <th>#</th>
            <th>Team</th>
            <th>GS</th>
            <th>GA</th>
            <th>PTS</th>
          </tr>
        <% league.league_participants.each do |participant| %>
          <tr>
            <td><%= participant.position %></td>
            <td><%= participant.teamname %></td>
            <td><%= participant.goals_scored %></td>
            <td><%= participant.goals_lost %></td>
            <td><%= participant.points %></td>
          </tr>
        <% end %>
    		</table>
    </div>
  <% end %>
<% end %>

<h1 align = "center">Dostępne ligi:</h1>

<% @leagues.each do |league| %>
  <div align="center" class="league-list">
    <%= league.name %>(<%= league.country %>)
    <% if current_user.leagues.exists?(:id => league) %>
      <%= form_tag(controller: "leagues", action: "remove_league_from_favorites", id: league.id) do %>
        <%= submit_tag "Usuń"%>
      <% end %>
    <% else %>
      <%= form_tag(controller: "leagues", action: "add_league_to_favorites", id: league.id) do %>
        <%= submit_tag "Dodaj"%>
      <% end %>
    <% end %>
    <br>
    <br>
  </div>
<% end %>

<h1 align = "center">Nie widzisz swojej ulubionej ligi? Dodaj ją!</h1>
<div align = "center">
  <%= search_form_for @q do |f| %>
    <%= f.label :nazwa_ligi %>
    <%= f.search_field :name_cont %>

    <%= f.label :kraj_ligi %>
    <%= f.search_field :country_name_cont %>

    <%= f.submit "Wyszukaj" %>
  <% end %>
</div>




<div align = "center">
  <%= link_to "Account", edit_user_registration_path %>
  <%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
